<?xml version="1.0" encoding="UTF-8"?>
<settings
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
  xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>aws-release</id>
      <username>${S3_ARTIFACTORY_SERVER_READ_USER_NAME}</username>
      <password>${S3_ARTIFACTORY_SERVER_PASSWORD}</password>
    </server>
   
  </servers>
  <profiles>
    <profile>
      <repositories>
         <repository>
                <id>aws-release</id>
                <name>AWS S3 Release Repository</name>
                <url>s3://stage-repository/lib</url>
         </repository>

        <repository>
          <id>oss.sonatype.org</id>
          <name>OSS Sonatype Release Repository</name>
          <url>http://oss.sonatype.org/content/repositories/releases</url>
        </repository>
        <repository>
          <id>oss.sonatype.org.snapshots</id>
          <name>OSS Sonatype Snapshot Repository</name>
          <url>http://oss.sonatype.org/content/repositories/snapshots</url>
          <snapshots/>
        </repository>
      </repositories>
     
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
